.card{
    width: 500px;
    background-color: #37393D!important;
    box-shadow: 0px 0px 3px 15px #1D1E22!important;
    margin-left: auto;
    margin-right: auto;
    height: 390px;
    font-size: 16px;
}
.account_icon{
    width: 35px;
    border-radius: 45px;
}
.card-text{
    margin-top: -10px;
}
.body2{
    margin-top: -30px;
}
.card-body{
    width: 50%;
}
.card-header{
    color:rgb(207, 207, 207);
    background-color: #2f3035!important;
}
.card-title{
    color: rgb(173, 173, 173);
}
.card-text{
    color:rgb(255, 255, 255);
    font-size: 15px!important;
}
.body3{
    height: 10px;
    position: absolute;
    margin-top: 60px;
    right: -40px;
    bottom: 200px;
}
.body3 p{
    color: rgb(144, 166, 238);
}
.seperator{
    width: 85%;
    height: 20px;
    border-bottom: solid 1px #333;
    margin-left: auto;
    margin-right: auto;
}
.card-edit{
    margin-top: -10px;
}
.card-edit_password{
    margin-top: -20px;
}
.delete_account{
    position: absolute;
    margin-left: 362px;
}
input#hoster_input{
    position: absolute;
    background-color: transparent!important;
    margin-top: -36px;
    font-size: 17px;
    margin-left: 42px;
    width: auto!important;
}
input#edit_username{
    width: auto!important;
}
input#edit_password{
    width: auto!important;
}
#timestamps{
    background-color: transparent!important;
    width: auto;
}
input{
    z-index: 1;
}
#save_account_changes{
    height: 37px;
    font-size: 17px;
    margin-top: 26px;
}
form{
    height: 100%!important;
}
.card-body.card-edit_password{
    z-index: -1;
}
@media screen and (max-width: 992px) {
    .card {
        width: 320px;
    }
    .delete_account{
        margin-left: 195px;
        width: 38px;
    }
    .body3{
        right: 16px;
    }
    input#timestamps {
        width: auto;
    }
}
@media screen and (min-width: 550px) and (max-width: 992px){
    .card{
        width: 500px;
    }
    .delete_account {
        margin-left: 361px;
        width: 43px;
    }
    .body3 {
        right: -33px;
    }
}
.genPass{
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    position: absolute;
    margin-left: 195px!important;
    margin-top: -35px!important;
    box-shadow: 0px 0px 9px #5252528c;
    border-radius: 45px!important;
    background-size: 39px;
}
.return {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0.5%!important;
    top: 0.5%!important;
}
#comment_input{
    resize: none!important;
    overflow: auto!important;
}
#comment_input::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
#comment_input::-webkit-scrollbar-track {
    background: #37393D!important;        /* color of the tracking area */
}
#comment_input::-webkit-scrollbar-thumb {
    background-color: #d7d9df!important;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #37393D!important;  /* creates padding around scroll thumb */
}

@media (max-width:660px)
{
.form-control
{
font-size:10px !important;
}

}