.edit-icon {
  margin-left: 10px;
  font-size: 15px;
}

.add-another-btn {
  border: 2px solid #444444;
  color: #111111;
  font-size: 14px;
  line-height: 1.8em;
}

.add-another-btn:hover {
  border: 2px solid #5C99C7;
  background: #5C99C7;
  color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #343434;
  border-color: #343434;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #343434;
  border-color: #343434;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(55,55,55,0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #343434;
  border-color: #343434;
}

.btn.btn-outline-primary.text-truncate.float-none.float-sm-none.add-another-btn:hover {
  color: white;
}

.add-another-btn:hover {
  color: white;
}

#row_password:focus, input:focus {
  outline: none;
}