.form-control{
    background-color: #2E3034!important;
}
.form-info{
    border-bottom: 2px solid #333;
}
.form-new{
    margin-top: 10px;
}
@media screen and (max-width: 992px) {
    .add_row{
        height: 250px;
    }
}
a{
    background-color: transparent!important;
    -webkit-appearance:none!important;
}

@media (max-width:660px)
{

    .card-body
    {
        padding:10px !important;
    }


    .form-control {
      
        font-size: 15px !important;
       
    }
}