.p-5 {
    padding: 10!important;
}
.text-center {
    text-align: left!important;

}
h3{
    font-size: 13px !important;
}
.mb-4, .my-4 {
    margin-bottom: 3px!important;
}
.form-group {
    margin-top: 1rem;
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
   /* .container{
    top: -4px!important;
   }  */
}
@media screen and (min-width: 669px) and (max-width: 1025px){
    /* .container{
        top: -0.75%!important;
    }  */
}
@media screen and (min-width: 768px) and (max-width: 992px){
    /* .container{
        left: 355px!important;
        top: -0.75%!important;
    }  */
}
@media screen and (min-width: 768px) and (max-width: 575px){
    /* .container{
        left: 355px!important;
        top: -0.75%!important;
    }  */
}
.btn{
    border: none!important;
    background-color: transparent!important;
    width: 35px;height: 35px;
    float:right;
    margin-top: -58px;
    background-image: url('/static/images/icons/arrow.png');
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
.btn:active{
    box-shadow: none!important;
}
@media (max-width:660px)
{
    .card
    {
        width: 305px !important;
    }
}