@media screen and (max-width: 992px){
    tr.table100-head {
        display: inline-grid;
        width: 799px!important;
    }
    th {
        height: 250px!important;
    }
}
@media screen and (max-width: 841px) and (min-width: 673px){
    .wrap-table100 {
        width: 640px!important;
    }
    tr.table100-head {
        width: 640px!important;
    }
}
@media screen and (max-width: 672px) and (min-width: 561px){
    .wrap-table100 {
        width: 525px!important;
    }
    tr.table100-head {
        width: 525px!important;
    }
}
@media screen and (max-width: 560px) and (min-width: 452px){
    .wrap-table100 {
        width: 415px!important;
    }
    tr.table100-head {
        width: 415px!important;
    }
}
@media screen and (max-width: 451px) and (min-width: 300px){
    .wrap-table100 {
        width: 325px!important;
    }
    tr.table100-head {
        width: 325px!important;
    }
    .add_row {
        margin-top: 0%!important;
    }
    strong{
        font-size: 13px;
    }
}
.return {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0.5%!important;
    top: 0.5%!important;
}