@charset "utf-8";


/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
	-webkit-appearance: none!important;
	font-family: 'Quicksand', sans-serif;
}


/*-------------------------
	Demo page
-------------------------*/

body {
	font: 14px normal Arial, Helvetica, sans-serif;
	z-index: -4;
}

html{
	width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #101010 38%, #171a1d 150%);
}

/*-------------------------
	File manager
-------------------------*/


.filemanager {
	width: 95%;
	max-width:1340px;
	position: relative;
	margin: 100px auto 50px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}


/*-------------------------
	Breadcrumps
-------------------------*/


.filemanager .breadcrumbs {
	color: #ffffff;
	margin-left:20px;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
	top: 11px;
	position: absolute;
	height: 45px!important;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color: #ffffff;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color:  #6a6a72;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
}
/*TAGS*/
.all-tag{
	border-bottom: 1px solid #252525;
}
.tag-name{
	font-size: 14px;
	margin-left: 5px;
}
.fas fa-tag{
	font-size: 15px;
}
.sidebar-container {
	position: absolute;
	width: 150px;
	height: 100%;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #1a1a1a;
	color: #fff;
  }
  
  .content-container {
	padding-top: 20px;
  }
  
  .sidebar-logo {
	padding: 10px 15px 10px 20px;
	font-size: 20px;
	background-color: #2574A9;
  }
  
  .sidebar-navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
  }
  
  .sidebar-navigation li {
	background-color: transparent;
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 20px;
  }
  
  .sidebar-navigation li a {
	padding: 10px 15px 10px 15px;
	display: block;
	color: #fff;
  }
  
  .sidebar-navigation li .fa {
	margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
	text-decoration: none;
	outline: none;
  }
  
  .sidebar-navigation li::before {
	background-color: #2574A9;
	position: absolute;
	content: '';
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 3px;
	z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
	width: 100%;
  }
  
  .sidebar-navigation .header {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #151515;
	padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
	background-color: transparent;
  }
  
  .content-container {
	padding-left: 220px;
  }

/*-------------------------
	Search box
-------------------------*/
.controller{
	height: 62px;
	background-color: #1a1a1a;
	box-shadow: 0 0 13px 0px rgb(10 10 10 / 46%);
	border-radius: 10px;
	animation: 1s ease-out 0s 1 controller_effect;
}
@media (max-width: 760px){
	.search-form {
		width: 250px!important;
		right: 10%!important;
	}
	.filemanager .breadcrumbs{
		font-size: 22px!important;
	}
}
@media (max-width: 490px){
	.search-form {
		width: 175px!important;
		right: 12%!important;
	}
	.search-input{
		width: 66px!important;
	}
	.filemanager .breadcrumbs{
		font-size: 20px!important;
		max-width: 160px!important
	}
}
@media (max-width: 400px){
	.search-form {
		width: 157px!important;
		right: 14%!important;
	}
	.search-input{
		width: 63px!important;
	}
	.filemanager .breadcrumbs{
		overflow-y: scroll;
		font-size: 20px!important;
		max-width: 95px!important
	}
}
@media (max-width: 350px){
	.search-form {
		width: 125px!important;
		right: 16%!important;
	}
	.search-input{
		width: 63px!important;
	}
}
@media (min-width: 760px) and (max-width: 1240px){
	.search-form{
		right: 5%!important;
	}
}
.fa-sign-out-alt {
	font-size: 20px;
	color: #cecece;
}
.fa-upload{
	font-size: 20px;
	color: #cecece;
}
.add-icon{
    top: 14px;
    position: absolute;
	right: 12px;
	cursor: pointer
}
.search-form {
	position: absolute;
	right: 4%;
	top: 10px;
    width: 335px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.125);
    background: #1d1d1d;
    transition: all 0.3s ease;
}
.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #7d7d7d;
    width: 195px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
#Search::-webkit-search-cancel-button{
	background-color: #7d7d7d!important;
}
.search-input::placeholder{
	color: #7d7d7d;
}
.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}
.search-button svg {
    width: 20px;
    height: 20px;
    fill: #c1c1c1;
}
svg:not(:root) {
    overflow: hidden;
}
.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;
}
.search-option div {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
}
.search-option div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
}
.search-option div label {
    display: block;
    cursor: pointer;
}
.search-option div svg {
    height: 20px;
    width: 20px;
    fill: #5a6674;
    opacity: 0.6;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none;
}
.search-option div span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background: #929AA3;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*ADD THINGS*/
.add-format{
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.155);
	width: 650px;
	z-index: 99999;
    height: 275px;
    background-color: red;
    background-color: #1a1a1a;
    border-radius: 10px;
    top: 70px;
	position: absolute;
	animation: showSlowlyElement 700ms;
    right: 0;
}
.add-folder{
	width: 50%;
	height: 100%;
	background-color: transparent;
	border-top-left-radius:  10px;
}
.add-vault{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: transparent;
	border-left: 2px solid rgb(34,34,34);
	border-top-right-radius:  10px;
}
/*FOLDER ADD*/
.container-folder-add .header, .container-vault-add .header{
	height: 75px;
}
.container-folder-add, .container-vault-add{
	padding: 10px 10px 10px 10px;
}
.container-folder-add h2, .container-vault-add h2{
	position: absolute;
	top: 30px;
	color: #ffffff;
    left: 73px;
	font-family: 'Roboto Condensed', sans-serif;
}
.container-folder-add .inputs, .container-vault-add .inputs{
	position: absolute;
    top: 100px;
    left: 37px;
}
.container-folder-add .inputs li, .container-vault-add .inputs li{
	margin-top: 5px;
	list-style-image: url("/static/images/right-arrow.png");
}
.container-folder-add .header, .container-vault-add .header{
	border-bottom: 2px solid rgb(34,34,34);
}
.container-folder-add .icon-folder, .container-vault-add .icon-folder{
	fill: #000000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.17);
    border-radius: 45px;
}
.container-vault-add .inputs .vn{
	float: left;
}
.field-button{
    font: revert!important;
    display: inline-block;
    border: 1.9px dashed rgb(52, 152, 219);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 19px;
    padding: 3px 10px;
    text-decoration: none;
	color: rgb(255 255 255)!important;
	outline: none!important;
    background-color: transparent;
}
.field-button:hover{
	border: 1.9px solid rgb(52, 152, 219)!important;
}
.gen_pass{
	position: absolute;
    margin-top: 7px;
    margin-left: 15px;
}
.container-vault-add .inputs .vu{
	float: right;
}
.container-vault-add .inputs .vu .folder_name{
	width: 105px!important;
}
.container-vault-add .inputs .vn .folder_name{
	width: 105px!important;
	margin-right: 35px;
}

@media (max-width: 676px){
	.add-folder {
		width: 100%;
		height: 47%;
		background-color: transparent;
		border-top-left-radius: 10px;
		display: block;
		position: relative;
	}
	.add-vault {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 45%;
		display: block;
		position: relative;
		border-left: none!important;
		border-top: 2px solid rgb(34,34,34);
		border-top-right-radius: 0px;
	}
	.add-format {
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.155);
		width: 333px;
		z-index: 99999;
		height: 525px;
		background-color: red;
		background-color: #1a1a1a;
		border-radius: 10px;
		top: 70px;
		position: absolute;
		animation: showSlowlyElement 700ms;
		right: 0;
	}
}
/*END*/
  
.alert{
  width:22%;
  height: auto;
  opacity: 0.75;
  margin:20px auto;
  padding:30px;
  position:relative;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  border-radius:25px;
  margin-top: 15%;
  word-break: break-all;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  right:15px;
  top:25px;
  text-align:center;
  font-size:1.6em;
  cursor:pointer;
}
.success-alert{
    background-color:#131516;
}
.close{
	border-color:#ffffff;
	color:#ffffff;
  }
.share{
	background-image: url("/static/images/share.png")!important;
    border: none!important;
    background-repeat: no-repeat!important;
    background-size: 30px!important;
    height: 28px;
	border-radius: 0px!important;
	background-color: transparent;
	width: 28px;
    position: inherit;
    margin-left: -31px;
	margin-top: -28px!important;
	border: none!important;
}
.share:focus{
	border-color: transparent!important;
	border: none!important;
	box-shadow: none!important;
	outline:none!important;
}
.share_button{
	-webkit-appearance: none!important;
	background-color: transparent;
    border: none;
    outline: none;
	padding-right: 22px;
	color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
.share_button:focus{
	border-color: transparent!important;
	border: none!important;
	box-shadow: none!important;
	outline:none!important;
}
.download:focus{
	outline:none!important;
	border: none!important;
	box-shadow: none!important;
}
.download{
	color: #929292;
	font-size: 21px;
	position: absolute;
	margin-top: -22px;
	margin-left: 2px;
	background-color: transparent!important;
	border: none!important;
}
.deletefolder{
	position: absolute;
    padding-right: 30px;
    cursor: pointer;
    right: 0;
    font-size: 17px;
    color: #ffffff;
    display: block;
    width: 40px;
    height: 40px;
}

.folder_name{
	padding-left: 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1.5px solid rgb(34,34,34);
	width: 155px;
    height: 30px;
	outline: none;
	color: #ffffff;
	-webkit-appearance: none!important;
	font-size: 14px;
}
.folder_name::placeholder {
	color: rgb(167, 167, 167);
}
.vault_name{
	display: inline;
}
.vault_username{
	display: none;
}
.vault_password{
	display: none;
}
.vault_submit{
	display: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}
::-moz-focus-inner{
	border: none;
	outline: none;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
	margin-top: 60px;
	z-index: -3;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li{
	border-radius: 3px;
    background-color: rgb(30 30 30 / 1);
    width: 307px;
    height: 118px;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0.3em;
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s background-color;
    box-shadow: 0 0 13px 0px rgb(10 10 10 / 46%);
}
.filemanager .data li:hover > .delete_href {
	opacity: 1;
}
.search-dir{
	display: none!important;
	visibility: hidden!important;
	position: absolute;
	left: -10%;
	top: -10%;
}
.filemanager .data li:hover {
	background-color:  rgb(45 45 45);

}
@media only screen and (hover: none) and (pointer: coarse){
    .delete_href {
		opacity: 1!important;
	}
}
.add_folder:hover{
	background-color: rgb(30 30 30 / 1)!important;
}
.add_vault:hover{
	background-color: rgb(30 30 30 / 1)!important;
}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 40px;
	left: 115px;
}

.filemanager .data li .details {
	color: #b6c1c9;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 64px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
	left: 115px;
}

.filemanager .nothingfound {
    width: 23em;
    height: 21em;
    margin: 0 auto;
    font-family: Arial;
    -webkit-animation: showSlowlyElement 700ms;
    animation: showSlowlyElement 700ms;
    margin-top: 10%;
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f42;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 34px;
    right: 0;
    margin-top: -22px;
}

.filemanager .nothingfound span {
	margin: 0 auto auto 6.8em;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

.btn{
	border-radius: 50px!important;
    padding: 6px 10px!important;
	border: 2px solid rgb(52, 152, 219)!important;
	background-color: transparent;
    color: #ffffff!important;
    text-transform: lowercase!important;
    font-size: 13px!important;
    margin-top: 25px!important;
	width: 83px;
	cursor: pointer;
}

.btn:focus{
	outline: none;
}
.btn:hover{
	background-color: rgb(52, 152, 219)!important;
    color: #000000!important;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 23px;
}
.icon-folder.item{
    box-shadow: none!important;
    top: 2px;
    position: absolute;
    left: 3px;
}
.icon.folder {
	display: inline-block;
	margin: 1em;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder.vault::before{
	background-color: #4e4e4e;
	box-shadow: 1.25em 0.25em 0 0em #4e4e4e;
}
.icon.folder.vault::after{
	background-color: #6b6b6b;
	background-image: url("/static/images/lock.png");
	background-size: 30px;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: no-repeat;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	font-family:courier;
	color:white;
}
.delete_href{
	opacity: 0;
	width: 20px!important;
	height: 20px!important;
	position: absolute!important;
	right: 5px!important;
	top: 5px!important;
	left: 92%!important;
	background-image: url(/static/images/settings.png);
	background-size: 20px;
}
.settings{
    width: 100%;
    height: 100%;
    position: absolute;
	margin-left: 30px;
    padding-top: 32px;
}
.save_new_name{
	margin-left: 165px!important;
}
.new_folder_name{
    visibility: visible;
    background-color: transparent!important;
    border-bottom: solid #3e3e3e 2px;
    border-radius: 0px!important;
    position: absolute;
    margin-left: -99px;
    margin-top: 25px;
}
.delete_href:hover{
	opacity: 1;
}

.icon.file {
    width: 3.5em;
    height: 4em;
    line-height: 3em;
    text-align: center;
    border-radius: 0.25em;
    color: #FFF;
    display: inline-block;
    margin: 8px 0px 15px 10px;
    position: relative;
    overflow: hidden;
}
.file.icon.type{
    top: 44px;
    left: 14px;
    z-index: 1;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0px 0px 5px #252525;
}
.vault.icon{
	margin: 24px 0px 0px 18px;
}

.icon.file.room.f-avi,
.icon.file.room.f-flv,
.icon.file.room.f-mkv,
.icon.file.room.f-mov,
.icon.file.room.f-mpeg,
.icon.file.room.f-mpg,
.icon.file.room.f-mp4,
.icon.file.room.f-m4v,
.icon.file.room.f-wmv {
	fill: #5649c1;
}
.icon.file.top.f-avi,
.icon.file.top.f-flv,
.icon.file.top.f-mkv,
.icon.file.top.f-mov,
.icon.file.top.f-mpeg,
.icon.file.top.f-mpg,
.icon.file.top.f-mp4,
.icon.file.top.f-m4v,
.icon.file.top.f-wmv {
	fill: #4a3f9e;
}

.icon.file.room.f-mp2,
.icon.file.room.f-mp3,
.icon.file.room.f-m3u,
.icon.file.room.f-wma,
.icon.file.room.f-xls,
.icon.file.room.f-xlsx {
	fill: #5bab6e;
}
.icon.file.top.f-mp2,
.icon.file.top.f-mp3,
.icon.file.top.f-m3u,
.icon.file.top.f-wma,
.icon.file.top.f-xls,
.icon.file.top.f-xlsx {
	fill: #4c8f5b;
}

.icon.file.room.f-doc,
.icon.file.room.f-docx,
.icon.file.room.f-psd,
.icon.file.room.f-txt{
	fill:  #03689b;
}
.icon.file.top.f-doc,
.icon.file.top.f-docx,
.icon.file.top.f-psd,
.icon.file.top.f-txt{
	fill:  #045680;
}

.icon.file.room.f-gif,
.icon.file.room.f-ico,
.icon.file.room.f-jpg,
.icon.file.room.f-jpeg,
.icon.file.room.f-pdf,
.icon.file.room.f-png {
	fill: #c6393f;
}
.icon.file.top.f-gif,
.icon.file.top.f-ico,
.icon.file.top.f-jpg,
.icon.file.top.f-jpeg,
.icon.file.top.f-pdf,
.icon.file.top.f-png {
	fill: #a12f35;
}

.icon.file.room.f-deb,
.icon.file.room.f-dmg,
.icon.file.room.f-gz,
.icon.file.room.f-rar,
.icon.file.room.f-zip,
.icon.file.room.f-7z {
	fill: #685f58;
}
.icon.file.top.f-deb,
.icon.file.top.f-dmg,
.icon.file.top.f-gz,
.icon.file.top.f-rar,
.icon.file.top.f-zip,
.icon.file.top.f-7z {
	fill: #534d47;
}

.icon.file.room.f-html,
.icon.file.room.f-rtf,
.icon.file.room.f-xml,
.icon.file.room.f-xhtml {
	fill:  #d65de8;
}
.icon.file.top.f-html,
.icon.file.top.f-rtf,
.icon.file.top.f-xml,
.icon.file.top.f-xhtml {
	fill:  #a64ab4;
}

.icon.file.room.f-js {
	fill: #a69f4e;
}
.icon.file.top.f-js {
	fill: #918a47;
}

.icon.file.room.f-css,
.icon.file.room.f-saas,
.icon.file.room.f-scss {
	fill:  #30837c;
}
.icon.file.top.f-css,
.icon.file.top.f-saas,
.icon.file.top.f-scss {
	fill:  #276862;
}
/* TAG SELECTOR */
  
/* Old-Select */

.old-select{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* New-Select */
.form-control {
    display: block;
    width: 51px;
    height: calc(1.5em + .75rem + 2px);
    padding: 0px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #252525;
    background-clip: padding-box;
    border: 0.15em solid #2a658c;
    border-radius: 15px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	outline: none!important;
}
select {
	word-wrap: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;       /* Remove default arrow */
}
@keyframes controller_effect {
	0% {
	  transform: translateY(-100%);
	  opacity: 0.25;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }