<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vault | Name: {{ data.username }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/card.css">
  <link rel="stylesheet" href="/static/css/popup.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Abel">
  <link rel="icon" type="image/png" href="/static/images/shield_logo.png">

</head>
<body class="align bg" id="bg">
  {% if return_value != "" %}
  <div id="cd-popup" class="cd-popup" role="alert">
      <div class="cd-popup-container">
        <p>Are you sure you want to generate a new password?</p>
        <form method="post" class="form">
          {{ form.hidden_tag() }}
        <ul class="cd-buttons">
          <li><a>{{ form.generate(class="field-button buttons", onclick="close_popup()") }}</a></li>
          <li><a><button type="button" onclick="close_popup()" class="field-button buttons">NO</button></a></li>
        </ul>
        </form>
        <a id="close_pop" class="cd-popup-close img-replace">Close</a>
      </div>
	</div>
  <a href="{{ return_value }}" type="button" class="return" style="position: absolute;"><img class="return" src="/static/images/return.png"></a>
  {% endif %}
  <div class="grid align__item">
    <div class="card">

      <header class="card__header">
        <h3 class="card__title">Vault Details</h3>
        <svg xmlns="http://www.w3.org/2000/svg" class="card__logo" width="140" height="43" viewBox="0 0 175.7 53.9"></svg>

      </header>

      <form method="post" class="form">
        {{ form.hidden_tag() }}
        <div class="card__number form__field">
          <label for="card__number" class="card__number__label">Vault Password</label>
          {{ form.password(type="text", id="card__number", class="card__number__input", value=data.password) }}
          <div class="value-container">
            <button type="button"class="field-button copy" onclick="show_alert()" data-clipboard-text="{{ data.password }}">Copy</button>
            {% if return_value != "" %}
            <button type="button" onclick="show_popup()" class="field-button">Generate</button>
            {% endif %}
          </div>
        </div>

        <div>
          <div class="card__expiration form__field">
            <label for="card__expiration__year">Username</label>
            <span style="color:#fff;">{{ data.username }}</span>

          </div>
          <div class="card__expiration form__field" style="margin-left: 24px;">
            <label for="card__expiration__year">Name</label>
            <span style="color:#fff;">{{ data.name }}</span>

          </div>
          <div class="value-container">
            <button class="field-button">Copy</button>
            <button class="field-button">Edit</button>
            <button class="field-button">Save</button>
          </div>
        </div>

        <div class="card__ccv form__field">
          <label for="">ID</label>
          <span style="color:#fff;margin-left: 3px;" class="card__ccv__input" >{{ data.id }}</span>
        </div>

      </form>
    </div>
    <div id="alert" class="alert success-alert" style="display: none;">
      <a type="button" id="message">Password copied!</a>
      <a class="close">&times;</a>
      </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script  src="/static/js/cards.js"></script>
<script src="/static/js/clipboard.min.js"></script>
</html>
